/*
Matt Ballert
VFW 1211
CSS for Project Week 2
*/

body {
	background-color: #000000;
}

h1 {
	background-color: #ffffff;
	text-align: center;
	
}
h2 {
	background-color: #000000;
	text-align: center;
	
}
h3 {
	background-color: #000000;
	text-align: center;
	
}

p {
	background-color: #D1D1D1;
	color: #000000;
}

/* HTML Tag 8 */
a:link {
	color: #dc143c ;
}

/* HTML Tag 9 */
a:visited {
	color: #ffffff;
}

div {
	background-color: #D1D1D1;
}
